@model List<KitapTuru>
<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Genre</h1>
        </div>
    </div>
    
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                Id
            </th>

            <th>
                Genre
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        </thead>

        <tbody>

        @foreach (var kitapTuru in Model)
        {
            <tr>
                <td>@kitapTuru.Id</td>
                <td>@kitapTuru.Ad</td>
                <td>
                    <a asp-controller="KitapTuru" asp-action="" type="button" class="btn btn-success" style="width:250px">Update</a>
                </td>
                <td>
                    <a asp-controller="KitapTuru" asp-action="" type="button" class="btn btn-danger" style="width: 250px">Delete</a>
                </td>
            </tr>
        }

        </tbody>

    </table>
    
    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="KitapTuru" asp-action="Ekle" class="btn btn-lg btn-primary" type="button">
                Create a new genre
            </a>
        </div>
    </div>
</div>
