@model List<KitapTuru>

<h1>Genre</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Id
        </th>

        <th>
            Genre
        </th>
    </tr>
    </thead>

    <tbody>

    @foreach (var kitapTuru in Model)
    {
        <tr>
            <td>@kitapTuru.Id</td>
            <td>@kitapTuru.Ad</td>
        </tr>
    }


    </tbody>

</table>