@model Kiralama

<form method="post">
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2 class="text-primary">Kiralama kaydı Sil</h2>
        </div>

        <div class="mb-3">
            <label asp-for="OgrenciId" class="p-0"></label>
            <input asp-for="OgrenciId" class="form-control" />
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Kiralama Kaydı  Sil</button>
        <a asp-controller="Kiralama" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
            Kiralama Listesine Geri Dön
        </a>
    </div>
</form>