@model Kiralama

<form method="post" enctype ="multipart/form-data">
            <div class="border p-3 mt-5">
                <div class="row pb-3">
                    <h2 class="text-primary">@(Model == null ? "Rent Books" : "Update renting")</h2>
                </div>

                <div class="mb-3">
                    <label asp-for="OgrenciId" class="p-0"></label>
                    <input asp-for="OgrenciId" class="form-control" />
                    <span asp-validation-for="OgrenciId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KitapId" class="p-0"></label>
                    <select asp-for="KitapId" asp-items="ViewBag.KitapList" class="form-select"></select>
                    <span asp-validation-for="KitapId" class="text-danger"></span>
                </div>

                @if (Model == null)
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Kiralama Ekle</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Kiralama güncelle</button>
                }

                <a asp-controller="Kiralama" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
                    Kiralama Listesine Geri Dön
                </a>
            </div>
    
</form>